In [2]:
import pandas as pd
from splinter import Browser
import os 
from bs4 import BeautifulSoup as bs

In [3]:
# The purpose of thsi notebook is to complete all scareping and analysis

In [4]:
# Scrap teh NASA Mars news site. Collect lattest news titles and Prapraphs

In [5]:
filepath = os.path.join("Nasa.html")
with open(filepath, encoding='utf-8') as file:
    html = file.read()

In [7]:
soup = bs(html, 'html.parser')

In [12]:
news_title = soup.title.text
print(news_title)

News  – NASA’s Mars Exploration Program

In [13]:
news_p = soup.find_all('p')
for paragraph in news_p:
    print(paragraph.text)

Managed by the Mars Exploration Program and the Jet Propulsion Laboratory for NASA’s Science Mission Directorate

In [14]:
# Use splinter to navigate the site and find the image url for the current Featured Mars
# Image and assign the url string to a variable

url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

html = browser.html

image = soup.find('span', class_='text')

browser.click_link_by_partial_text('Next')

SyntaxError: invalid syntax (<ipython-input-14-64f01be6d50b>, line 7)

In [15]:
# Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. 
# Save the tweet text for the weather report as a variable called mars_weather.

url_twitter = 'https://twitter.com/MarsWxReport/status/1255842151205941250'
mars_weather = soup.find(class="css-901oao r-jwli3a r-1qd0xha r-1blvdjr r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0">).text

In [16]:
# Visit the Mars Facts webpage here and use Pandas to scrape the table containing 
# facts about the planet including Diameter, Mass, etc.

url_mars_facts = 'https://space-facts.com/mars/'
tables = pd.read_html(url_mars_facts)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
df = tables[0]
df.columns = ['Fact','Units']

df.head()

                   Fact                          Units
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [18]:
# Use Pandas to convert the data to a HTML table string.
html_table = df.to_html()
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Fact</th>      <th>Units</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [ ]:
# Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
usgs_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'